/* Welcome to Compass. */

@import "normalize";

// Vars 
$backgroundcolor : black;
$fontcolor: black;
$bordercolor: white;
$bordercolor-horizontal: red;

body {
	background: $backgroundcolor;
	color: $fontcolor;
	font-family: Verdana;
  	font-size: 100%;  	
}

#playarea {
	position: relative;
	width: 500px;
  	height: 500px;
  	margin: 0 auto;	
  	background: $fontcolor;
  	margin-bottom: 1em;
}

.paddle{
	position: absolute;
	box-sizing: border-box;
	background: red;
	height: 50px;
	width: 25px;
}

#paddleLeft {
	/*left: 0;
	top: 50px;
	left: 25px; */
}

#paddleRight {
	right: 0;
	top: 50px;
}

#ball {
	position: absolute;
	width: 10px;
	height: 10px;
	background: blue;
	border-radius: 100%;
}

#ball2 {
	position: absolute;
	width: 10px;
	height: 10px;
	background: white;
	border-radius: 100%;
}

#ball3 {
	position: absolute;
	width: 10px;
	height: 10px;
	background: pink;
	border-radius: 100%;
}

.borders {
	position: absolute;
	background: $bordercolor;	 
}

.borders--horizontal {
	background: $bordercolor-horizontal;
}

#borderRight {
	width: 5px;
	height: 500px;
	left:200px;
	top: 0;	
}

#borderLeft {	
	width: 5px;
	height: 500px;
	left:0px;
	top: 0px;	
}

#borderBottom {	
	width: 500px;
	height: 5px;
	left:0px;
	top: 495px;	
}

#borderTop {	
	width: 500px;
	height: 5px;
	left:0px;
	top: 0px;	
}

#controlls {
	width: 500px;  	
  	margin: 0 auto;
  	border: 5px solid white;
  	box-sizing: border-box;
}